*{
    background-color: #e85235;
    text-align: center;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
}
.menu a{
    text-decoration: none;
}
.a{
    display: inline-block;
}
.menu a:hover{
    color: white;
    transition: all 300ms ease;
}
.a a{
    background-color: white;
    padding: 0.2em;
    margin: 0.4em;
}
.a a:hover{
    background-color: black;
    transition: all 300ms ease;
}