@import url('https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat Alternates', sans-serif;
}
body{
    background: url(../imgs/background2.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}
.body2{
    background: url(../imgs/backgroundaccion.jpg);
    background-size: 100vw 100vh;
    background-repeat: repeat;
    font-family: 'Montserrat Alternates', sans-serif;
    
}
.body3{
    background: url(../imgs/background4.jpg);
    background-size: 100vw 100vh;
    background-repeat: repeat;
    font-family: 'Montserrat Alternates', sans-serif;
    
}
.body4{
    background: url(../imgs/background5.jpg);
    background-size: 100vw 100vh;
    background-repeat: repeat;
    font-family: 'Montserrat Alternates', sans-serif;
    
}
.capa{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    z-index: -1;
    top: 0;left: 0;
}

.header{
    width: 65%;
    height: 100px;
    position: fixed;
    top: 0;left: 0;
}
.container{
    width: 95%;
    max-width: 1200px;
    margin: auto;
}
.container .btn-menu, .logo{
    float: left;
    line-height:100px;
 
   
}
.container .btn-menu label{
    color:#E9DEDE;
    font-size: 25px;
    cursor: pointer;
}
.logo h1{
    color: #E9DEDE;
    font-weight: 350;
    font-size: 18px;
    margin-left: 10px;
}
.container .menu{
    float: right;
    line-height: 100px;
}
 .menu a{
    display: inline-block;
    padding: 15px;
    line-height: normal;
    text-decoration: none;
    color: #E9DEDE;
    transition: all 0.4s ease;
    border-bottom: 2px solid transparent;
    font-size: 15px;
    margin-right: 5px;
}
 .menu a:hover{
    border-bottom: 2px solid #c7c7c7;
    padding-bottom: 5px;
}

#btn-menu{
    display: none;
}
.container-menu{
    position: absolute;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100vh;
    top: 0;left: 0;
    transition: all 500ms ease;
    opacity: 0;
    visibility: hidden;
}
#btn-menu:checked ~ .container-menu{
    opacity: 1;
    visibility: visible;
}
.cont-menu{
    width: 100%;
    max-width: 250px;
    background: #1c1c1c;
    height: 100vh;
    position: relative;
    transition: all 500ms ease;
    transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu{
    transform: translateX(0%);
}
.cont-menu nav{
    transform: translateY(15%);
}
.cont-menu nav a{
    display: block;
    text-decoration: none;
    padding: 20px;
    color: #c7c7c7;
    border-left: 5px solid transparent;
    transition: all 450ms ease;
}
.cont-menu nav a:hover{
    border-left: 5px solid #c7c7c7;
    background: #1f1f1f;
}
.cont-menu label{
    position: absolute;
    right: 5px;
    top: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.parrafo1{
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    position: relative;
  top: 220px;

}
.encabezado{
    color: #fff;
    font-family: 'Brush Script MT';
    text-align: center;
    position: relative;
  top: 120px;
  font-size: 80px;
}
.menu {
    color: #E9DEDE;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    position: relative;
    top: -40px;

}
.encabezado2{
    color: #fff;
    font-family: 'Brush Script MT';
    text-align: center;
    position: relative;
  top: 35px;
  font-size: 80px;
}
.articulo{
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    position: relative;
    top: 35px;
  
}
.parrafo2{
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    position: relative;
  top: 40px;
}
.articulo2{
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    position: relative;
  top: 50px;
}

.articulo3{
    color: #fff;
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
    position: relative;
  top: 590px;
}

.container2{
    width: 100%;
    max-width: 1600px;
    height: 930px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.container2 .card{
    background:#6557A9  ;
    width: 430px;
    height: 530px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(255,0,0,0.3);
    overflow: hidden;
    margin: 25px;
    text-align: center;
    transition: all 0.25s;
}
.container2 .card:hover{
transform: translateY(-15px);
box-shadow: 0 12px 16px rgba(0,0,255,0.3);
}
.container2 .card img{
    width: 430px;
    height: 270px;
}
.container2 .card h4{
 font-weight: 600;
}
.container2 .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}
@media screen and (max-width: 480px) {
    body{
        background: url(../imgs/background2.jpg);
        background-size: 50vw 80vh;
        background-repeat: repeat;
    }
   }


