*{
    background-color: #e85235;
    text-align: center;
    font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
    text-decoration: none;
}
.menu a{
    text-decoration: none;
}
.a{
    display: inline-block;
}
.menu a:hover{
    color: white;
    transition: all 300ms ease;
}
.a a{
    background-color: white;
    padding: 0.2em;
    margin: 0.4em;
}
.a a:hover{
    background-color: black;
    transition: all 300ms ease;
}

.contenido p{
    margin-left: 20%;
    margin-right: 20%;
    line-height: 150%;
    text-align:justify
}
a{
    color: black;
}

@media (min-width: 700px) and (max-width: 1200px){
    *{
        background-color: #ce452c;
        text-align: center;
        font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
}

@media (min-width: 0px) and (max-width:699px){
    *{
        background-color: white;
        text-align: center;
        font-family: Trebuchet MS, Arial, Helvetica, sans-serif;
        text-decoration: none;
    }
}